body {
    font-family: 'Nunito', sans-serif;
}
.content-body {
    display: table;
    width: 960px;
    margin: 0 auto;
}
.content-form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 960px;
}
.table {
    display: table-row-group;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    border: 1px solid #dddddd;
    padding: 10px;
    line-height: 1;
    vertical-align: top;
    max-width: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-cell-selected {
    background: #008cba61;
    color: black;
    font-weight: bold;
}
.button {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
} 
.submit {
    margin-top: 4px;
    background-color: #008CBA; 
}
.form-data {
    min-height: 70px;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.full-width {
    width: 100%;
}